<a class="btn__link m-1" @onclick="@(() => OnClickCallback.InvokeAsync())"><img src="src/img/btn/current_month.svg" /></a>

@code {
    [Parameter]
    public EventCallback<object> OnClickCallback { get; set; }
}