* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #e9ecef;
}

.b-red {
   border: 1px solid red;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
}

.wrapper {
   display: flex;
   width: 100%;
   min-height: 100vh;
}

.container {
   width: 90%;
}

.sidebar {
   display: flex;
   flex-direction: column;
   min-width: 15%;
   min-height: 100%;
}

.sidebar-logo {
   display: flex;
   justify-content: center;
   margin: 10px;
}

.sidebar-nav {
   margin: 0 0 10px 10px;
}

.sidebar-nav__link {
   font-size: 1.2rem;
}