@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'inter-regular';
    src: url('fonts/inter/static/inter-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-medium';
    src: url('fonts/inter/static/inter-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-thin';
    src: url('fonts/inter/static/inter-thin.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-light';
    src: url('fonts/inter/static/inter-light.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-extralight';
    src: url('fonts/inter/static/inter-extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'inter-bold';
    src: url('fonts/inter/static/inter-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway-extralight';
    src: url('fonts/raleway/static/raleway-extralight.ttf') format('truetype');
}

html, body {
    font-family: inter-extralight;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.b-red {
    border: 1px solid red;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn__link {
    display: flex;
    cursor: pointer;
    height: 25px;
    width: 25px;
    transition-duration: 500ms;
}

    .btn__link.hidden {
        visibility: hidden;
        transition-duration: 800ms;
    }

    .btn__link > img:hover {
        height: 23px;
        width: 23px;
    }

.tr {
    transition-duration: 500ms;
}

    .tr.deletion-mark {
        opacity: 50%;
        transition-duration: 1s;
    }

.page {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.page__caption {
    display: flex;
    justify-content: center;
}
