<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Штрих-М: XTaho</title>
   <link href="/css/styles.css" rel="stylesheet">
   <link href="/css/modal.css" rel="stylesheet">
</head>

<body>

   <div class="wrapper">
      <div class="container">
         <aside class="sidebar">
            <a href="#" class="sidebar-logo">
               <img src="/img/logo.png" alt="" />
            </a>
            <ul class="sidebar-nav">
               <li class="sidebar-nav__item">
                  <a href="#" class="sidebar-nav__link">
                     <span>НСИ</span>
                  </a>
                  <ul class="sidebar-nav">
                     <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">
                           <span>Участники системы</span>
                        </a>
                     </li>
                     <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">
                           <span>Модели устройств</span>
                        </a>
                     </li>
                     <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">
                           <span>Устройства</span>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="sidebar-nav__item"><a href="#" class="sidebar-nav__link">Администрирование</a>
                  <ul class="sidebar-nav">
                     <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">
                           <span>Пользователи системы</span>
                        </a>
                     </li>
                     <li class="sidebar-nav__item">
                        <a href="#" class="sidebar-nav__link">
                           <span>Ролевая модель</span>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </aside>
         <div class="main">

         </div>
      </div>
   </div>

   <script src="/js/scripts.js"></script>
</body>

</html>