<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Штрих-М: XTaho</title>
   <link href="/css/styles.css" rel="stylesheet">
   <link href="/css/modal.css" rel="stylesheet">
</head>

<body>

   <div class="wrapper">
      <div class="container">
         <div class="sidebar-wrapper">
            <a href="#" class="sidebar-logo">
               <img src="/img/logo.png" alt="">
            </a>
            <aside class="sidebar">
               <ul class="sidebar-list">
                  <li class="sidebar-item"><a href="#" class="sidebar-link">НСИ</a></li>
                  <li class="sidebar-item"><a href="#" class="sidebar-link">Управление мастерской</a></li>
                  <li class="sidebar-item"><a href="#" class="sidebar-link">Аналитика</a></li>
                  <li class="sidebar-item"><a href="#" class="sidebar-link">Статистика</a></li>
                  <li class="sidebar-item"><a href="#" class="sidebar-link">Личный кабинет</a></li>
               </ul>
            </aside>
         </div>
         <div class="content-wrapper">
            <div class="content">
               <div class="content-header">
                  Header
               </div>
               <main class="main">
                  Main
               </main>
               <footer class="footer">
                  Footer
               </footer>
            </div>
         </div>
      </div>
   </div>


   <script src="/js/scripts.js"></script>
</body>

</html>